<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.nye.kondibetyar">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Menu
        <activity android:label="@string/app_name" android:name="MenuActivity"/>

        //edzes
        <activity android:label="@string/app_name" android:name=".edzes.EdzesActivty"/>
        <activity android:label="@string/app_name" android:name=".edzes.EdzesWebviewerActivty"/>
        <activity android:label="@string/app_name" android:name=".edzes.SajatEdzesActivity"/>
        <activity android:label="@string/app_name" android:name=".edzes.SajatEdzesTervekActivity"/>
        <activity android:label="@string/app_name" android:name=".edzes.SajatEdzesNapActivity"/>
        <activity android:label="@string/app_name" android:name=".edzes.edit.EditNapActivity"/>
        <activity android:label="@string/app_name" android:name=".edzes.edit.EditTervekActivity"/>

        //gyakorlatok
        <activity android:label="@string/app_name" android:name=".gyakorlatok.GyakorlatokActivity"/>
        <activity android:label="@string/app_name" android:name=".gyakorlatok.GyakorlatokKategoriaActivity"/>

        //etrend
        <activity android:label="@string/app_name" android:name=".etrend.EtrendActivity"/>
        <activity android:label="@string/app_name" android:name=".etrend.EtrendWebViewerActivity"/>

        //kapcsolat
        <activity android:label="@string/app_name" android:name=".kapcsolat.KapcsolatActivity"/>


    </application>

</manifest>